/* Thanh điều hướng chính */
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
}

/* Phần link */
.nav-links a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    transition: all 0.3s ease;
}

/* Link active */
.nav-links a.active {
    font-weight: bold;
    color: #ff4500;
}

/* Ô tìm kiếm */
.search-form {
    position: relative;
    width: 250px;
    margin-right: 50px;

}

/* Ô input tìm kiếm */
.search-form input {
    width: 100%;
    padding: 8px 40px 8px 12px; /* Chừa khoảng trống cho nút */
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

/* Nút tìm kiếm nằm bên trong input */
.search-form button {
    position: absolute;
    right: 5px;
    margin-right: -5px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #555;
    font-size: 16px;
}

/* Hover nút tìm kiếm */
.search-form button:hover {
    color: #ff4500;
}

/* Tuỳ chỉnh màu chữ mờ */
.search-form input::placeholder {
    color: #aaa;
    font-style: italic;
    opacity: 0.8;
}
