.info-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    margin-bottom: 10px;
    margin-right: 40px;
    border: 1px solid #ccc;
}

.info-icon {
    padding: 0.5rem;
    background-color: #1f2937; /* tương đương bg-gray-800 */
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.info-text {
    display: flex;
    flex-direction: column;
    font-size: 0.875rem; /* text-sm */
    color: #6b7280; /* text-gray-500 */
}

.info-title {
    font-weight: 500;
    color: black;
}
