.products-container {
    width: 100%;
    margin-top: 20px;
  }
  
  .products-header {
    height: 81px;
    background-color: #f3f4f6; /* bg-gray-100 */
    display: flex;
  }
  
  .products-title-container {
    width: 100%;
    max-width: 1200px; /* tương đương w-main */
  }
  
  .products-title {
    margin-left: 40px;
    text-transform: uppercase;
    font-weight: 600; /* font-semibold */
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .products-toolbar {
    width: 100%;
    max-width: 1200px;
    margin: 32px auto 0; /* mt-8 */
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border: 1px solid #ddd;
  }
  
  .filter {
    flex: 4;
    display: flex;
    align-items: center; /* Căn giữa theo chiều dọc */
  }
  .sort-by {
    flex: 1;
  }
  
  .products-content {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
  
  .products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Mỗi hàng có tối đa 4 sản phẩm */
    gap: 16px;
    justify-items: center; /* Căn giữa các sản phẩm theo chiều ngang */
    align-items: center;   /* Căn giữa các sản phẩm theo chiều dọc */
  }
  
  @media (max-width: 1024px) {
    .products-grid {
      grid-template-columns: repeat(2, 1fr); /* 2 sản phẩm mỗi hàng trên màn hình nhỏ */
    }
  }
  
  @media (max-width: 768px) {
    .products-grid {
      grid-template-columns: 1fr; /* 1 sản phẩm mỗi hàng trên màn hình nhỏ hơn */
    }
  }
  