.sidebar {
    width: auto;
    margin-top: 10px;
    height: 540px; /* Đặt chiều cao cố định */
    background-color: #f8cfcf;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    
}


.sidebar-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center; /* Căn giữa chữ */
    margin-bottom: 10px;
    padding: 5px;
    color: #f01b1b;
    background-color: #fce4e4; /* Thêm nền nhạt nhấn nhá */
    border-radius: 8px; /* Bo góc mềm mại hơn */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Đổ bóng nhẹ */
}


/* Link danh mục */
.sidebar a {
    display: block;
    padding: 10px 0;
    color: #555;
    text-decoration: none;
    transition: all 0.3s ease;
}

/* Hover đẹp hơn */
.sidebar a:hover {
    color: #ff4500;
    padding-left: 5px;
    font-weight: bold; /* Làm đậm chữ khi hover */
    transform: translateX(3px); /* Di chuyển mượt mà thay vì padding */
}

/* Link đang active */
.sidebar a.active {
    color: #ff4500;
    font-weight: bold;
}
